.logo {
  width: 150px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  left: 0;
  padding: 0px 20px;
  z-index: 3
}

.headerLogo {
  width: 160px;
}

.headerTitle {
  margin-left: 10px;
}

.title {
  margin-bottom: 0px !important;
  font-weight: 300 !important;
}

.headerTitle h1 {
  margin-bottom: 4px;
  font-weight: 300
}

/* .aside {
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  width: 240px;
} */

/* .sider {
  overflow-x: none;
  overflow-y: auto;
  z-index: 100;
} */

.content {
  margin-top: 64px;
  padding: 0px 30px 50px 30px;
  overflow: auto;
  background: white;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
}

@media (max-width: 480px) {
  .content {
    padding-left: 14px !important;
    padding-right:14px !important;
  }
}
